						<!-- discount_section - start
			================================================== -->
			<section class="discount_section sec_ptb_50 clearfix">
				<div class="container-fluid prl_50">

					<div class="fm_section_title text-center">
						<h2 class="title_text">option two for categories layout</h2>
					</div>

					<div class="row justify-content-lg-between">
						<div class="col-lg-4 col-md-4 col-md-6 col-xs-12">
							<div class="fm_discount_item">
								<div class="item_image">
									<img src="assets/images/shop/fashion_minimal/img_09.jpg" alt="image_not_found">
								</div>
								<div class="item_content">
									<h3 class="item_title">Men's Jacket</h3>
									<span class="discount_text">Shop the selection</span>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-4 col-md-6 col-xs-12">
							<div class="fm_discount_item">
								<div class="item_image">
									<img src="assets/images/shop/fashion_minimal/img_10.jpg" alt="image_not_found">
								</div>
								<div class="item_content">
									<h3 class="item_title">Women's Accessories</h3>
									<span class="discount_text">Discover the selection</span>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-4 col-md-6 col-xs-12">
							<div class="fm_discount_item">
								<div class="item_image">
									<img src="assets/images/shop/fashion_minimal/img_11.jpg" alt="image_not_found">
								</div>
								<div class="">
									<h3 class="item_title">Maternity Dresses</h3>
									<span class="discount_text">Explore the selection</span>
								</div>
							</div>
						</div>
					</div>

				</div>
			</section>
			<!-- discount_section - end
			================================================== -->
