	<!-- header_section - start
		================================================== -->
		<header class="header_section default_header sticky_header clearfix">
			<div class="header_top text-white" data-bg-color="#000000">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-7">
							<p class="mb-0">Free Shipping on Domestic Orders over R400</p>
						</div>

						<div class="col-lg-5">
							<ul class="primary_social_links ul_li_right clearfix">
								<li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#!"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#!"><i class="fab fa-instagram"></i></a></li>
								<li><a href="#!"><i class="fab fa-whatsapp"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="header_bottom clearfix">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-2">
							<div class="brand_logo">
								<a class="brand_link" href="index.html">
									<img src="assets/images/Logo_white.png" srcset="assets/imageS/Logo_white.png 2x" alt="logo_not_found">
								</a>

								<ul class="mh_action_btns ul_li clearfix">
									<li>
										<button type="button" class="search_btn" data-toggle="collapse" data-target="#search_body_collapse" aria-expanded="false" aria-controls="search_body_collapse">
											<i class="fal fa-search"></i>
										</button>
									</li>
									<li>
										<button type="button" class="cart_btn">
											<i class="fal fa-shopping-cart"></i>
											<span class="btn_badge">2</span>
										</button>
									</li>
									<li><button type="button" class="mobile_menu_btn"><i class="far fa-bars"></i></button></li>
								</ul>
							</div>
						</div>

						<div class="col-lg-8">
							<nav class="main_menu clearfix">
								<ul class="ul_li_center clearfix">
									<li><a href="index.html">Home</a></li>
									<li><a href="women.html">Women</a></li>
									<li><a routerLinkActive="active" routerLink="men">Men</a></li>
									<li><a href="standard-range.html">Standard Range</a></li>
                  <li><a href="optional.html">Optional Range</a></li>
								</ul>
							</nav>
						</div>

						<div class="col-lg-2">
							<ul class="action_btns_group ul_li_right clearfix">
								<li>
									<button type="button" class="search_btn" data-toggle="collapse" data-target="#search_body_collapse" aria-expanded="false" aria-controls="search_body_collapse">
										<i class="fal fa-search"></i>
									</button>
								</li>
								<li>
									<button type="button" class="user_btn" data-toggle="collapse" data-target="#use_deropdown" aria-expanded="false" aria-controls="use_deropdown">
										<i class="fal fa-user"></i>
									</button>
									<div id="use_deropdown" class="collapse_dropdown collapse">
                    <ng-container class="dropdown_content" *ngIf="islogin; else elseTemplate">
                      <div class="profile_info clearfix">
                        <div class="user_thumbnail">
                          <img src="assets/images/meta/img_01.png" alt="thumbnail_not_found">
                        </div>
                        <div class="user_content">
                          <h4 class="user_name">Jone Doe</h4>
                          <span class="user_title">Seller</span>
                        </div>
                      </div>
                      <ul class="settings_options ul_li_block clearfix">
                        <li><a href="#!"><i class="fal fa-user-circle"></i> Profile</a></li>
                        <li><a href="#!"><i class="fal fa-user-cog"></i> Settings</a></li>
                        <li><a href="#!"><i class="fal fa-sign-out-alt"></i> Logout</a></li>
                      </ul>
                    </ng-container>
                    <ng-template #elseTemplate>
                      <ul class="settings_options ul_li_block clearfix">
                        <li><a routerLink="/login"><i class="fal fa-user-circle"></i>Login</a></li>
                        <li><a routerLink="/register"><i class="fal fa-user-cog"></i>Register</a></li>
                      </ul>
                    </ng-template>
									</div>
								</li>
								<li>
									<button type="button" class="cart_btn" routerLink="/cart">
										<i class="fal fa-shopping-cart"></i>
										<span class="btn_badge">2</span>
									</button>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>







			<div id="search_body_collapse" class="search_body_collapse collapse">
				<div class="search_body">
					<div class="container-fluid prl_90">
						<form action="#">
							<div class="form_item mb-0">
								<input type="search" name="search" placeholder="Type here...">
								<button type="submit"><i class="fal fa-search"></i></button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</header>
		<!-- header_section - end
		================================================== -->
