<!-- slider_section - start
================================================== -->



<!-- slider_section - end
================================================== -->


		<main>


			<!-- sidebar mobile menu & sidebar cart - start
			================================================== -->
			<app-sidebar />
			<!-- sidebar mobile menu & sidebar cart - end
			================================================== -->
			<section class="">
          <div class="embed-responsive embed-responsive-16by9">
            <video
            class="embed-responsive-item"
      controls
      autoplay
      loop
      muted
      src="./assets/images/518aed4b75452fbfb90bd61e1db76bd6.mp4"
      type="video/mp4"
      allowfullscreen
    ></video>
  </div>

  <!-- slider progress -->
  <div class="slick-progress">
    <span></span>
  </div>
      </section>

			<!-- product_section - start
			================================================== -->
			<app-productSection />
			<!-- product_section - end
			================================================== -->
			<app-categories-layer />

						<!-- advertisement_section - start
			================================================== -->

			<app-video-banner />
			<!-- advertisement_section - end
			================================================== -->

		</main>
